<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tick_tack_toeinfinity">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TicktacktoeInfinity">

        <!--
            ИЗМЕНЕНИЕ 1: MenuActivity теперь главный экран.
            Мы перенесли <intent-filter> с действием MAIN и категорией LAUNCHER сюда.
            Это говорит системе, что именно этот экран нужно запускать при нажатии на иконку приложения.
        -->
        <activity
            android:name=".MenuActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DifficultyMenuActivity"
            android:exported="false"
            android:label="Уровень сложности" />

        <!--
            ИЗМЕНЕНИЕ 2: GameActivity теперь обычный экран.
            Мы убрали отсюда <intent-filter>. Теперь этот экран можно будет открыть
            только из другого экрана нашего приложения (например, из MenuActivity).
            Атрибут android:label можно оставить, он будет использоваться как заголовок окна.
        -->
        <activity
            android:name=".GameActivity"
            android:exported="false"
            android:label="@string/app_name" />
        <!-- intent-filter отсюда убран -->

    </application>

</manifest>
